<!DOCTYPE html>
<html>
  <head>
    <title>IvanaWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <!-- <link href="stylesheets/home.css" rel="stylesheet"> -->
    <%#= stylesheet_link_tag "home" %>

  </head>

  <body id="page-top">
    <%=render partial: 'shared/navigation_bar' %>
    <%=render partial: 'shared/messages' %>
    <div id="layout_body" >
      <%= yield %>
    </div>
    <section class="footer">
      
    </section>
  </body>
</html>
